.free-shipping-bar {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    margin: 0 0 10px 0;
}

.free-shipping-bar__heading{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.free-shipping-bar__message,
.free-shipping-bar__success-message {
    font-size: 14px;
    margin: 10px 0 0 0; 
}

.free-shipping-bar__container{
    height: 10px;;
    background: #fff;
    border-radius: 16px;
    position: relative;
    margin: 10px 10px 10px 0;
}

.free-shipping-bar__container .free-shipping-bar__filled {
    height: 100%;
    border-radius: 1rem;
    transition: all .75s ease-in-out;
}

.free-shipping__icon{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}